@import url("fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 160px 16px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.row {
  display: flex;
  gap: 16px;
}

.col {
  width: 25%;
}

.title {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
}

.mood-col {
  padding: 32px 0;
  text-align: center;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
}

.mood-img {
  margin: 0 auto 24px;
  width: 220px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mood-img._mood-poor {
  background-image: url("../images/sad1.svg");
}

.mood-img._mood-average {
  background-image: url("../images/confused2.svg");
}

.mood-img._mood-good {
  background-image: url("../images/happy3.svg");
}

.mood-img._mood-excellent {
  background-image: url("../images/in-love4.svg");
}

.mood-title {
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}

.mood-title._mood-poor {
  color: #e91c2b;
}

.mood-title._mood-average {
  color: #f48a1d;
}

.mood-title._mood-good {
  color: #eacf2a;
}

.mood-title._mood-excellent {
  color: #0ca350;
}

.mood-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  width: 100%;
  height: 80px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  background-color: #f0f0f0;
}
